<!DOCTYPE html>
<html>
<head>
   <title>Home Page</title>
 <style>
    body {
       background-color: #74DF00;;
    }

    h1 {
       font-family: Verdana, Geneva, sans-serif;
       font-size: 75px;
    }

    h2 {
       font-family: Verdana, Geneva, sans-serif;
       font-size: 20px;
    }

    p {
       font-family: Tahoma, Geneva, sans-serif;
       font-size: 20px;
    }

    .div1 {
       text-align: center;
       margin-top: 50px;
    }
  </style>
</head>
<body>
   
   <h2>Initial scenario</h2>
   <h2><%= option1 %></h2>
</body>
</html>
